.new-addvehicle-container {
    max-width: 720px !important;
    margin: 0 auto;
    margin-top: 15vh;
    overflow-x:auto;
}

.ant-typography {
    text-align: center;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

@media only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead th {
		text-align: left;
		border-bottom: 2px solid black;
	  }
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}

#btnNewVechicle {
    left: 38%;
    margin: 10px auto;
}
  
  thead button {
	color: black;
	border: 0;
	border-radius: none;
	font-family: inherit;
	font-weight: 700;
	font-size: inherit;
	padding: 0.5em;
	margin-bottom: 1px;
	width: 100% !important;
  }
  
  thead button.ascending::after {
	content: '👇';
	display: inline-block;
	margin-left: 1em;
  }
  
  thead button.descending::after {
	content: '☝️';
	display: inline-block;
	margin-left: 1em;
  }
  
  tbody td {
	padding: 0.5em;
	border-bottom: 1px solid #ccc;
  }
  
  tbody tr:hover {
	background-color: #eee;
  }
  
  .icon-css {
	  margin: 5px 10px;
  }

  .icon-css i.fa-edit:hover {
	color: darkorange;
  }

  .icon-css i.fa-trash:hover {
	color: red;
  }

 .icon-css i {
	font-size: 20px;
}

.btnContainer {
	position: relative;
	left: 50%;
}

.btnContainer button {
	margin: 0 5px;
	color: white;
}

.btnContainer button:hover {
	border: 1px solid white;
}

.btnContainer button.btn-primary {
	background-color: green;
}

.btnContainer button.btn-primary:hover {
	font-weight: 700;
	color: white;
}

.btnContainer button.btn-secondary {
	background-color: red;
}

.btnContainer button.btn-secondary:hover {
	font-weight: 700;
	color: white;
}

[type="button"] {
    width: 25%;
}