body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  /* max-width: 1000px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }
}

.barsMenu{
  float: right;
  margin: 15px 0 10px 0;
}

.ant-drawer-content-wrapper {
  width: auto !important;
}

.ant-menu-vertical {
    width: 6rem;
    position: absolute;
    left: 0rem;
    text-align: center;
    top: 3rem;
    border: none;
}

.ant-menu-submenu {
  top: 0.1rem !important;
}