.welcome-page {
    margin-top: 100px;
    background-image: url(./placeholder.png);
    background-color: red;
    /* min-width:200px; */
    width:2000px;
    height:1080px;
}

.watt-about {
    background-color: purple;
    font-size: 200%;
    color: white;
   
}

.watt {
    font-size: 300%;
    line-height: 200%;
}

.description {
    font-size: 150%;
}
